---
import Layout from "@layouts/Layout.astro";
import ButtonA from "@src/components/ui/ButtonA.astro";
---

<Layout title="portfolio">
  <section class="mx-auto container px-0 flex flex-col gap-16 py-8">
    <div class="flex flex-col gap-4">
      <h1>Portfolio</h1>
      <h2 class="H5 uppercase">Projects</h2>
    </div>
    <div class="flex gap-3 items-center justify-left w-full">
      <a href="/portfolio/">
        <ButtonA size="sm" classes="default px-4">Projects</ButtonA>
      </a>
      <a href="/portfolio/design/">
        <ButtonA size="sm" classes="default px-4">Design</ButtonA>
      </a>
      <a href="/portfolio/art/">
        <ButtonA size="sm" classes="default px-4">Art</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">3D</ButtonA>
    </div>
  </section>
</Layout>
