---
import Layout from "@layouts/Layout.astro";
import ModalGallery from "@src/components/ui/ModalGallery.astro";
import ButtonA from "@components/ui/ButtonA.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import { Headlines } from "@src/consts";
let pageName = "Cars";
---

<Layout title={pageName}>
  <!--Modal -->
  <ModalGallery data="Cars" />
  <Container>
    <Headline Heading={Headlines[6].heading} Subtitle={Headlines[6].subtitle} />
    <div class="flex gap-3 mb-16">
      <a href="/gallery/portfolio/">
        <ButtonA size="sm" classes="default px-4">Portfolio</ButtonA>
      </a>
      <a href="/gallery/portraits/">
        <ButtonA size="sm" classes="default px-4">Portraits</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">Automotive</ButtonA>
      <a href="/gallery/events/">
        <ButtonA size="sm" classes="default px-4">Events</ButtonA>
      </a>
      <a href="/gallery/other/">
        <ButtonA size="sm" classes="default px-4">Other</ButtonA>
      </a>
    </div>
    <div class="masonGrid3 w-full">
      <div class="masonCol"></div>
      <div class="masonCol"></div>
      <div class="masonCol"></div>
    </div>
  </Container>
</Layout>

<script>
  import { createGrid } from "js/gridGallery.js";
  import imagePathsCars from "js/imagePaths/imagePathsCars.js";

  imagePathsCars.forEach((path, i) => {
    createGrid(path, i);
  });
</script>
