---
import Layout from "../../layouts/Layout.astro";
import ModalGallery from "../../components/ui/ModalGallery.astro";
import Container from "../../components/Container.astro";
import Headline from "../../components/Headline.astro";
import { Headlines, NAME2 } from "../../consts";
import GalleryTab from "../../components/GalleryTab.astro";
let pageName = "Portraits";
---

<Layout title={`${NAME2} - ${pageName}`}>
  <!--Modal -->
  <ModalGallery data="Portrait" />
  <Container>
    <Headline Heading={Headlines[5].heading} Subtitle={Headlines[5].subtitle} />
    <GalleryTab />
    <!-- 
    <div class="flex gap-3 mb-16">
      <a href="/gallery/portfolio/">
        <ButtonA size="sm" classes="default px-4">Portfolio</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">Portraits</ButtonA>
      <a href="/gallery/cars/">
        <ButtonA size="sm" classes="default px-4">Cars</ButtonA>
      </a>
      <a href="/gallery/events/">
        <ButtonA size="sm" classes="default px-4">Events</ButtonA>
      </a>
      <a href="/gallery/other/">
        <ButtonA size="sm" classes="default px-4">Other</ButtonA>
      </a>
    </div>-->
    <div class="masonGrid3 w-full">
      <div class="masonCol"></div>
      <div class="masonCol"></div>
      <div class="masonCol"></div>
    </div>
  </Container>
</Layout>
<script>
  import { createGrid } from "../../js/gridGallery.js";
  import imagePathsPortrait from "../../js/imagePaths/imagePathsPortrait.js";

  imagePathsPortrait.forEach((path, i) => {
    createGrid(path, i);
  });
</script>
