---
//Alcohol Guidebook
import { Image } from "astro:assets";
import Headline from "@components/Headline.astro";
const videoPath = [
  //Videos
  {
    src: "https://www.youtube.com/embed/BDAp2I-NMhs",
    alt: "Book Animation Preview",
  },
];
const imagePath = [
  //Images
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851478/gfx/project/book/BookMisc4PS_qguses.jpg",
    alt: "BookMisc4PS",
  },
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851485/gfx/project/book/BookMisc4PSflat_fp0dzn.jpg",
    alt: "BookMisc4PSflat",
  },
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851492/gfx/project/book/BookMisc3PS_hlj6ka.jpg",
    alt: "BookMisc3PS",
  },
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851486/gfx/project/book/BookMisc3PSflat_sz7nz1.jpg",
    alt: "BookMisc3PSflat",
  },
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851490/gfx/project/book/BookMisc2PS_a197wl.jpg",
    alt: "BookMisc2PS",
  },
  {
    src: "https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851487/gfx/project/book/BookMisc2PSflat_zdrtt5.jpg",
    alt: "BookMisc2PSflat",
  },
];
---

<div class="flex flex-col gap-9 rounded-md w-full">
  <Headline Heading="Animation" Subtitle="Video" />
  <iframe
    width="1400"
    height="787"
    class="w-full rounded-xl overflow-clip hover:bg-primary/90 hover:border-grey-100 border border-grey-200"
    src={videoPath[0].src}
    title="Book Animation Preview"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <Headline Heading="Variations" Subtitle="Other" />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      imagePath.map((item) => (
        <Image
          src={item.src}
          alt={item.alt}
          width={600}
          height={200}
          class="rounded-xl w-full border border-grey-300 bg-grey-400 grid place-items-center"
        />
      ))
    }
  </div>
</div>
