/*Grobe Deutshmeister*/
@font-face {
    font-family: "GrobeDeutschmeister";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/GrobeDeutschmeister.ttf) format("trueType");
}