---
import Layout from "@src/layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import translations from "@utils/t.ts";
import AboutBanner from "@src/components/partials/AboutBanner.astro";
import Banner from "@src/components/partials/Banner.astro";
import AboutMJ from "@src/components/partials/AboutMJ.astro";
import MusicPlaylists from "@src/components/partials/MusicPlaylists.astro";
import ExperienceTab from "@src/components/ExperienceTab.astro";
const t = translations(Astro.url);
---

<Layout title="Belial - About Me">
  <Container>
    <AboutMJ />
    <div id="aboutBelial">
      <AboutBanner />
    </div>
    <MusicPlaylists />
    <Headline Heading={t.about_h2desc} Subtitle={t.about_h2} />
    <ExperienceTab />
    <Banner />
  </Container>
</Layout>
