---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import bgPic from "../assets/FilmGrainS5.jpg";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
import Coin from "../components/dragons/CoinDragon.astro";
import "../styles/dragons.css";
import GoldCTA from "@src/components/ui/GoldCTA.astro";
import Card from "@src/components/dragons/Card.astro";
---

<html lang={locale} class="dark">
  <head>
    <BaseHead
      title="Portfolio Choice"
      description="Enter desired portfolio site"
      image=""
    />
    <ViewTransitions />
  </head>
  <body class="bg-grey-500">
    <!--Background image -->
    <div class="bgColor bg-light dark:bg-grey-500 fixed w-full h-full -z-50">
    </div>
    <img src={bgPic.src} alt="X" class="mainBG" />
    <img
      src="/FlameSide.svg"
      alt="Y"
      class="mainBG2 fixed top-1/2 -translate-y-1/2 left-0 scale-50 md:scale-100 origin-left"
      style="z-index: -10;"
    />
    <img
      src="/FlameSide.svg"
      alt="Y"
      class="mainBG2 fixed top-1/2 -translate-y-1/2 right-0 rotate-180 scale-50 md:scale-100 origin-left translate-x-[100%]"
      style="z-index: -10;"
    />
    <div>
      <main id="main" class="w-full p-4 h-[100vh]">
        <div class="gameBoard">
          <div class="border border-red-500 flex flex-col gap-8">
            <div
              id="gameStartBtn"
              class="cursor-pointer max-w-[50%] grid place-items-center bg-orange-300 text-orange-900 p-3 rounded-xl hover:bg-orange-400"
            >
              <h2 class="text-[1.5rem]">New Game</h2>
            </div>
            <div>
              Info
              <div
                id="logGameBtn"
                class="cursor-pointer bg-grey-400 border border-grey-200 rounded-md px-3 py-2 w-fit hover:bg-grey-300"
              >
                Log
              </div>
            </div>
            <div class="grid grid-cols-3 gap-3">
              <div class="flex flex-col gap-3 border border-green-500 w-full">
                <div>Cards: <span id="cardPileCount">1</span></div>
                <div id="cardStack" class="card-placed card-back">Stack</div>
                <div
                  id="revealPileBtn"
                  class="cursor-pointer bg-grey-400 border border-grey-200 rounded-md px-3 py-2 w-fit hover:bg-grey-300"
                >
                  Reveal
                </div>
              </div>
              <div class="flex flex-col gap-3">
                <div id="cardStackOpen1" class="card-placed bg-goldTips2-500">
                  1
                </div>
                <div>Cards: <span id="cardStackCount1"></span></div>
              </div>

              <div class="flex flex-col gap-3">
                <div id="cardStackOpen2" class="card-placed bg-goldTips2-100">
                  2
                </div>
                <div>Cards: <span id="cardStackCount2"></span></div>
              </div>
            </div>

            <div class="grid bg-blue-700 gap-3 w-full">
              <!--Deck creation works -->
              <div class="flex-col gap-1 hidden">
                <h2>Deck</h2>
                <div id="deck-container" class="flex gap-3 flex-wrap"></div>
              </div>
              <div class="flex-col gap-1 hidden">
                <h2>Shuffled Deck</h2>
                <div
                  id="shuffled-cont"
                  class="flex gap-3 flex-wrap bg-red-300 text-black"
                >
                </div>
              </div>
            </div>
          </div>
          <div class="border border-green-500">
            <div class="grid grid-rows-2 gap-16 items-center justify-center">
              <div
                id="player2Deck"
                class="grid gap-3 grid-cols-3 grid-rows-2 border border-red-400"
              >
                <Card color="0" value="1" spanClass="spanValue2" />
                <Card color="60" value="2" />
                <Card color="120" value="3" />
                <Card color="180" value="4" />
                <Card color="240" value="5" />
                <Card color="300" value="6" />
              </div>

              <div
                id="player1Deck"
                class="grid gap-3 grid-cols-3 grid-rows-2 border border-red-400 h-full"
              >
                <Card color="0" value="1" spanClass="spanValue1" />
                <div class="card-placed card-back">2</div>
                <div class="card-placed card-back">3</div>
                <div class="card-placed card-back">4</div>
                <div class="card-placed card-back">5</div>
                <div class="card-placed card-back">6</div>
              </div>
            </div>
          </div>
          <div class="border border-blue-500 flex flex-col justify-between">
            <div class="coinHold1">1</div>
            <div class="flex flex-col gap-3">
              <span>Temp</span>
              <div id="tempStack" class="card-placed card-back"></div>
              <div class="w-full flex flex-col gap-3">
                <div>Take</div>
                <div
                  id="cardStackTemp"
                  class="grid grid-cols-3 grid-rows-2 gap-2 w-full"
                >
                  <div class="btnPlace1">1</div>
                  <div class="btnPlace1">2</div>
                  <div class="btnPlace1">3</div>
                  <div class="btnPlace1">4</div>
                  <div class="btnPlace1">5</div>
                  <div class="btnPlace1">6</div>
                </div>
              </div>
              <div>Put down</div>
              <div class="grid grid-cols-3 grid-rows-2 gap-2 w-full">
                <div id="btnPlaceStack1" class="btnPlace1 hover:bg-grey-200">
                  1
                </div>
                <div id="btnPlaceStack2" class="btnPlace1 hover:bg-grey-200">
                  2
                </div>
              </div>
            </div>
            <div class="coinHold1">2</div>
          </div>
        </div>
        <div class="container mx-auto">
          <!-- 
          <Coin />
          <div class="grid gap-9 grid-cols-3 grid-rows-2 w-1/3">
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">6</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(60, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">6</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(60, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">6</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(60, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">6</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(60, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">6</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(60, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
            <div class="flip-card-Test">
              <div class="flip-card-inner-Test">
                <div class="flip-card-front-Test">
                  <span
                    class="right-0 top-0 absolute p-2 text-[1.5rem]"
                    style="line-height: 100%;">-2</span
                  >
                  <img
                    src="/src/assets/dragon_1.svg"
                    alt="Stars"
                    class="w-[70%]"
                  />
                  <div
                    class="w-full h-full absolute rounded-[8px] opacity-20"
                    style="background-color: hsl(270, 60%, 35%);"
                  >
                  </div>
                </div>
                <div class="flip-card-back-Test relative">
                  <img
                    src="/src/assets/logo.png"
                    alt="Stars"
                    class="w-[30%] rounded-full absolute border-[3px] border-[#434347] opacity-50"
                  />
                  <img
                    src="/src/assets/Star1.svg"
                    alt="Stars"
                    class="w-[80%]"
                  />
                </div>
              </div>
            </div>
          </div>-->

          <a href="/dragons/turnTest/" class="hidden">TurnTest</a>
          <!--Show results-->
          <div class="hidden">
            <button id="modalDragonsBtn" class="hidden">Open Modal</button>
            <!-- The Modal -->
            <div id="modalDragon" class="hidden modalDragon">
              <!-- Modal content -->
              <div
                class="bg-grey-500 border-2 border-grey-200 rounded-3xl p-24"
              >
                <div class="modal-content flex flex-col gap-6 items-center">
                  <!-- 
              <span class="close">&times;</span>-->
                  <div class="flex flex-col gap-3 items-center">
                    <h2 class="text-[4rem]">Victory!</h2>
                    <span class="text-[1.5rem] font-semibold text-grey-75"
                      >Player has won</span
                    >
                  </div>

                  <p class="my-2 font-bold text-[5rem]">
                    <span class="text-orange-300">3</span> : <span>1</span>
                  </p>
                  <div>
                    <GoldCTA text="New Game" size="lg" link="#" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-row gap-9 hidden">
            <div class="flex flex-col gap-24 w-1/3">
              <div class="flex flex-col gap-9">
                <div class="mb-12 flex flex-col gap-6">
                  <h1 class="text-[orange] text-[2rem]">Dragons</h1>
                </div>

                <div class="flex gap-9">
                  <div>Info</div>
                  <div>
                    <div>Coins</div>
                    <div class="flex flex-col gap-0">
                      <div>Player1: <span id="winning1">0</span></div>
                      <div>Player2: <span id="winning2">0</span></div>
                    </div>
                    <div>Simulate win</div>
                    <div class="w-full flex flex-col gap-2">
                      <button
                        id="win1"
                        class="bg-gray-500 text-black p-2 rounded w-full"
                        >Player 1</button
                      >
                      <button
                        id="win2"
                        class="bg-gray-500 text-black p-2 rounded w-full"
                        >Player 2</button
                      >
                    </div>
                  </div>

                  <div>
                    <div class="flex gap-2">
                      <button
                        id="countCardsBtn"
                        class="p-3 bg-grey-200 rounded-sm grid place-items-center"
                      >
                        Count decks
                      </button>
                      <div>
                        <div class="flex gap-2">
                          <div>Player1:</div>
                          <span id="countCards1">0</span>
                        </div>
                        <div class="flex gap-2">
                          <div>Player2:</div>
                          <span id="countCards2">0</span>
                        </div>
                      </div>
                    </div>
                    <div>Cards turned</div>
                    <div class="flex gap-2">
                      <div>Player1:</div>
                      <div>0</div>
                    </div>
                    <div class="flex gap-2">
                      <div>Player2:</div>
                      <div>0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column-main flex flex-col gap-16">
              <div id="player2Deck" class="grid gap-3 grid-cols-3 grid-rows-2">
                <div class="card-placed card-back">1</div>
                <div class="card-placed card-back">2</div>
                <div class="card-placed card-back">3</div>
                <div class="card-placed card-back">4</div>
                <div class="card-placed card-back">5</div>
                <div class="card-placed card-back">6</div>
              </div>
              <div class="w-full h-16">
                <h3 class="text-center">
                  Player <span id="playerTurn">1</span> Turn
                </h3>
              </div>
              <div id="player1Deck" class="grid gap-3 grid-cols-3 grid-rows-2">
                <div class="card-placed card-back">1</div>
                <div class="card-placed card-back">2</div>
                <div class="card-placed card-back">3</div>
                <div class="card-placed card-back">4</div>
                <div class="card-placed card-back">5</div>
                <div class="card-placed card-back">6</div>
              </div>
            </div>
            <div class="flex flex-col justify-between">
              <div id="coin-pile-player1" class="flex flex-col gap-3">
                <Coin />
                <Coin />
                <Coin />
              </div>

              <div class="coin-pile relative hidden">
                <div class="absolute -top-8 left-0 z-[11]">
                  <Coin />
                </div>
                <div class="absolute -top-4 left-0 z-10">
                  <Coin />
                </div>
                <div class="absolute shadow-lg top-0 left-0">
                  <Coin />
                </div>
              </div>
              <div id="coin-pile-player2" class="flex flex-col gap-3">
                <Coin />
                <Coin />
                <Coin />
              </div>
            </div>
          </div>
        </div>
      </main>
      <Footer />

      <script src="./../js/dragons.ts"></script>

      <style>
        html,
        body {
          height: 100dvh;
        }
        body {
          height: 100dvh;
          display: grid;
          margin-inline: auto;
        }
      </style>
    </div>
  </body>
</html>
