---
import ButtonA from "@components/ui/ButtonA.astro";
import GoldCTA from "@components/ui/GoldCTA.astro";
import WorkBadge from "../ui/WorkBadge.astro";
---

<section
  class="flex gap-24 justify-between items-center container py-32 relative rounded-2xl overflow-clip"
>
  <div class="flex flex-col gap-16 justify-start items-start">
    <!-- 
      <div
        class="flex gap-2 items-center bg-grey-500 border border-gray-300 rounded-full px-4 py-2"
      >
        <div class="w-4 h-4 rounded-full bg-red-600"></div>
        <div class="text-red-600 text-[12px] font-semibold uppercase pr-2">
          Unavailable for work
        </div>
      </div>-->
    <div class="flex flex-col gap-5 items-start">
      <WorkBadge workMode="true">Available for work</WorkBadge>
      <h1 class="H1 uppercase leading-loose" style="line-height: 120%;">
        Hi there! I'm Michal Jelinski
        <br />a passionate <span class="textBaseGold uppercase"
          ><span class="material-icons mx-2">
            photo_camera</span
          >photographer</span
        >
      </h1>
      <h2
        class="H5 uppercase leading-tight"
        style="line-height: 130%; font-weight: 700;"
      >
        pouring my heart and soul <br /> into each frame.
      </h2>
    </div>

    <!-- 
    <h1 class="H1 uppercase">
      Hi! I’m Michal Jelinski <br />an <span class="textBaseGold uppercase"
        >artist <span class="material-icons"> color_lens</span></span
      > at heart and soul,<br />
      <span class="textBaseGold"
        >photographer <span class="material-symbols-outlined h-20">
          photo_camera
        </span></span
      > by craft.
    </h1>-->
    <div class="flex gap-4 items-center">
      <GoldCTA link="/gallery/portfolio/" size="lg" text="View portfolio">
        <span class="material-icons">arrow_forward</span>
      </GoldCTA>
      <a href="/contact/"
        ><ButtonA size="lg" classes="default">Contact</ButtonA></a
      >
    </div>
  </div>
  <div class="absolute right-0 top-0 bottom-0 -z-10 w-full overflow-clip">
    <div class="gridPhotoHERO absolute right-0 bottom-0 top-0 -translate-y-1/4">
      <div
        class="gradientHERO absolute w-full h-full z-20 inset-0 translate-y-1/4"
      >
      </div>
      <div class="flex flex-col gap-6 items-center justify-center">
        <img src="/photo/portrait/JEL-339.jpg" alt="JEL00291" />
        <img src="/photo/portrait/JEL05953-2.jpg" alt="JEL00291" />
      </div>
      <div class="flex flex-col gap-6 items-center justify-center">
        <img src="/photo/portrait/JEL00291-Edit.jpg" alt="JEL00291" />
        <img src="/photo/more/JEL08347.jpg" alt="JEL00291" />
        <img src="/photo/portrait/JEL00592-Edit.jpg" alt="JEL00291" />
      </div>
      <div class="flex flex-col gap-6 items-center justify-center">
        <img src="/photo/more/JEL-08296.jpg" alt="JEL00291" />
        <img src="/photo/more/JEL-03921.jpg" alt="JEL00291" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  img {
    border-radius: 6px;
  }
  .gridPhotoHERO {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 50%;
  }
  .gridPhotoHERO img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gradientHERO {
    background: linear-gradient(90deg, #111114, rgba(1, 1, 1, 0));
  }
  .textBaseGold {
    background: linear-gradient(90deg, orange, brown);
    background-size: 400% 400%;
    background-clip: text;
    color: transparent;
    -webkit-animation: GoldWeave 5s ease infinite;
    animation: GoldWeave 5s ease infinite;
  }

  @keyframes GoldWeave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
