---
//import HeroImage from "../../components/blog/HeroImage.astro";
import { DEFAULT_LOCALE } from "../../consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getLocale, getLocaleUrlPrefix } from "astro-i18n-aut";
import Headline from "../../components/Headline.astro";
import Container from "../../components/Container.astro";
import { Button } from "../../components/ui/button";

import translations from "../../utils/t.ts";
import ProjectCard from "../ProjectCard.astro";
const t = translations(Astro.url);

const locale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const localeUrlPrefix = getLocaleUrlPrefix(Astro.url);

const publishedBlogEntries = await getCollection("portfolio", ({ data }) => {
  return data.draft !== true;
});
const highlightsBlogEntries = await getCollection("portfolio", ({ data }) => {
  return data.highlight !== true;
});

const posts = (
  await getCollection("portfolio", (entry) =>
    entry.slug.startsWith(`${locale}/`)
  )
)
  .filter((post) => {
    if (import.meta.env) {
      return !post.data.draft;
    }
  })
  .filter((post) => {
    if (import.meta.env) {
      return post.data.highlight;
    }
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .map<CollectionEntry<"portfolio"> & { href: string }>((post) => {
    return {
      href:
        localeUrlPrefix + "/portfolio" + post.slug.replace(locale, "") + "/",
      ...post,
    };
  });
---

<Container className="py-16">
  <Headline Heading="Highlights" Subtitle="Portfolio" />
  <ul class="grid list-none grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-9">
    {
      posts.map((post: any, index: number) => (
        <li
          class={`${
            index === 0
              ? "col-span-1 md:col-span-2 mb-4 w-full text-center"
              : ""
          } hover:-translate-y-2 transition-all duration-200 ease-in-out`}
        >
          <ProjectCard {...post.data} href={post.href} />
        </li>
      ))
    }
  </ul>
</Container>

<style lang="scss">
  img {
    border-radius: 0%;
  }
</style>
