---
interface ContainerProps {
  class?: string;
  [key: string]: any;
}

const { class: className, ...props }: ContainerProps = Astro.props;
---

<section
  {...props}
  class:list={["mx-auto max-w-screen-xl  sm:px-3 lg:px-3 w-full"]}
>
  <div class:list={[className, "mx-auto max-w-screen-xl w-full"]}>
    <slot />
  </div>
</section>
