---
import LanguageSelector from "./LanguageSelector.astro";
import ThemeSelector from "./ThemeSelector.astro";
import ButtonA from "./ui/ButtonA.astro";
import Separator from "./ui/Separator.astro";
const today: Date = new Date();
---

<div>
  <footer
    transition:persist
    class="px-4 py-9 text-grey-100 flex flex-col gap-5 justify-between mx-auto max-w-screen-xl"
  >
    <Separator data-type="horizontal" />
    <div
      class="flex flex-col md:flex-row gap-5 md:gap-0 justify-between items-center"
    >
      <div class="font-medium flex items-center gap-4">
        <div>
          &copy; {today.getFullYear()}
          <span id="footerName"></span>. All rights reserved.
        </div>
        <a href="https://astro.build"
          ><img
            src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
            alt="Built with Astro"
            width="120"
            height="20"
          /></a
        >
      </div>
      <div class="grid grid-flow-col items-center gap-4">
        <a id="msgrLink" href="" target="_blank">
          <ButtonA size="lg" classes="default icon">
            <span class="sr-only">Follow Belial on Instagram</span>
            <svg
              class="w-5 h-5"
              viewBox="0 0 800 800"
              version="1.1"
              id="svg15"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs id="defs19"></defs>
              <sodipodi:namedview
                id="namedview17"
                pagecolor="#505050"
                bordercolor="#eeeeee"
                borderopacity="1"
                inkscape:showpageshadow="0"
                inkscape:pageopacity="0"
                inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#505050"
                showgrid="false"
                inkscape:zoom="0.7327394"
                inkscape:cx="348.00913"
                inkscape:cy="515.87235"
                inkscape:window-width="1920"
                inkscape:window-height="1009"
                inkscape:window-x="1912"
                inkscape:window-y="-8"
                inkscape:window-maximized="1"
                inkscape:current-layer="svg15"></sodipodi:namedview>
              <radialGradient
                id="a"
                cx="101.9"
                cy="809"
                r="1.1"
                gradientTransform="matrix(800 0 0 -800 -81386 648000)"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0" style="stop-color:#09f" id="stop2"></stop>
                <stop offset=".6" style="stop-color:#a033ff" id="stop4"></stop>
                <stop offset=".9" style="stop-color:#ff5280" id="stop6"></stop>
                <stop offset="1" style="stop-color:#ff7061" id="stop8"></stop>
              </radialGradient>
              <path
                id="path11"
                d="M 400 0 C 174.70023 0 0 165.10022 0 388 C 0 504.59988 47.799687 605.40007 125.59961 675 C 132.0996 680.79999 136.10078 689.00079 136.30078 697.80078 L 138.5 769 A 32 32 0 0 0 183.40039 797.30078 L 262.80078 762.30078 C 269.50077 759.30078 277.09923 758.79922 284.19922 760.69922 C 320.69918 770.69921 359.50004 776.09961 400 776.09961 C 625.29977 776.09961 800 610.99939 800 388.09961 C 800 165.19983 625.29977 0 400 0 z M 625.67578 269.33594 C 638.42577 270.45625 648.70077 285.17462 640.30078 298.59961 L 522.69922 484.90039 A 60 60 0 0 1 435.90039 500.90039 L 342.40039 430.80078 A 24 24 0 0 0 313.5 430.90039 L 187.30078 526.69922 C 170.5008 539.49921 148.50079 519.39998 159.80078 501.5 L 277.30078 315.09961 A 60 60 0 0 1 364.09961 299.09961 L 457.59961 369.19922 A 24 24 0 0 0 486.5 369.09961 L 612.69922 273.30078 C 616.89921 270.10078 621.42579 268.9625 625.67578 269.33594 z "
                style="fill:#ffffff"></path>
            </svg>
          </ButtonA>
        </a>
        <Separator data-type="vertical" />
        <ThemeSelector />
        <Separator data-type="vertical" />
        <LanguageSelector
          showFlag={false}
          class="appearance-none cursor-pointer focus-visible:outline-none"
        />
      </div>
    </div>
  </footer>
</div>

<script src="js/profileSelector.ts"></script>

<style lang="scss">
  .dividerHoz {
    height: 1px;
    align-self: stretch;
    background: var(--grey-200);
  }
  .dividerV {
    width: 1px;
    align-self: stretch;
    background: var(--grey-200);
  }
</style>
