---
const { Heading, Subtitle } = Astro.props;
---

<div class="w-full flex flex-col gap-5 py-12">
  <h3 class="H5 text-grey-75 uppercase">{Subtitle}</h3>
  <h2 class="capitalize">{Heading}</h2>
</div>
