<select
  x-data={`{
				theme: localStorage.theme || 'system',
				updateDocumentClassTheme: function() {
					if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
					}
				},
				switchTheme: function (newValue) {
					if (newValue == 'dark') {
						localStorage.theme = 'dark';
					} else if (newValue == 'light') {
						localStorage.theme = 'light';
					} else {
						localStorage.removeItem('theme');
					}
					this.updateDocumentClassTheme();
				},
			}`}
  aria-label="Theme selector"
  name="theme-selector"
  id="theme-selector"
  class="dark:light cursor-pointer focus-visible:outline-none dark:bg-grey-400"
  x-init="updateDocumentClassTheme()"
  x-model="theme"
  @change="switchTheme($event.target.value)"
>
  <option value="system">System</option>
  <option value="dark">Dark</option>
  <option value="light">Light</option>
</select>

<style lang="scss">
  select {
    font-size: 1rem;
    max-height: 2.5rem;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-items: center;
    border-radius: 0.375rem;
    line-height: 100%;
    font-weight: 600;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    appearance: none;
    border: 1px solid var(--grey-200);
    &:hover {
      background-color: var(--grey-200);
    }
  }
</style>
