---
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { getLocale } from "astro-i18n-aut";
import { ViewTransitions } from "astro:transitions";

import bgPic from "@assets/FilmGrainS5.jpg";
import Container from "@src/components/Container.astro";
import CookieBanner from "@src/components/ui/CookieBanner.astro";

const locale = getLocale(Astro.url);
---

<!doctype html>
<html lang={locale}>
  <head>
    <BaseHead title="Testi18n" description="TestingI18n" image="" />
    <ViewTransitions
    /><!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8G97ZVN7G"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H8G97ZVN7G");
    </script></head
  >

   Google tag (gtag.js) -->
  </head><body class="bg-grey-500 relative p-0 z-0 h-full">
    <CookieBanner />
    <!--Background image -->
    <div class="dark:bg-grey-500 bg-light fixed w-full h-full -z-50"></div>
    <img src={bgPic.src} alt="BGPicture" class="mainBG" />
    <Container>
      <Navbar />
    </Container>
    <div class="mx-5 md:mx-8"></div>

    <main id="main" class="w-full flex flex-col">
      <slot />
    </main>
    <Footer />
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
      }
      main {
        padding: 24px;
        margin: auto;
        height: 100%;
      }
    </style>

    <!-- <script src="js/themeChange"></script>
    <script
      type="module"
      is:inline
      src="/vigorous-virgo/src/js/choiceNavigate.js"></script>-->
  </body>
</html>
