---
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
---

<html lang={locale}>
  <head>
    <BaseHead title="Testi18n" description="TestingI18n" image="" />
    {/* Comment the line below if you want to remove client side routing */}
  </head>

  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
