---
import Container from "@src/components/Container.astro";
import Main from "./Main.astro";
import Navbar from "@src/components/Navbar.astro";
---

<Main>
  <main id="main" class="w-full flex flex-col">
    <Container>
      <Navbar />
    </Container>
    <slot />
  </main>
</Main>
<style>
  html,
  body {
    height: 100%;
  }
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  main {
    padding: 24px;
    margin: auto;
    height: 100%;
  }
</style>
