---
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import ButtonA from "@src/components/ui/ButtonA.astro";
import { Headlines } from "@src/consts";
import { Image } from "astro:assets";

import exlibris from "@assets/graphics/art/exlibrisv1.jpg";
---

<Layout title="portfolio">
  <Container>
    <Headline Heading={Headlines[2].heading} Subtitle={Headlines[2].subtitle} />
    <div class="flex gap-3 items-center justify-left w-full">
      <a href="/portfolio/">
        <ButtonA size="sm" classes="default px-4">Projects</ButtonA>
      </a>
      <a href="/portfolio/design/">
        <ButtonA size="sm" classes="default px-4">Design</ButtonA>
      </a>
      <a href="/portfolio/art/">
        <ButtonA size="sm" classes="primary px-4">Art</ButtonA>
      </a>
      <a href="/portfolio/3D/">
        <ButtonA size="sm" classes="default px-4">3D</ButtonA>
      </a>
    </div>
    <div class="flex flex-row items-center w-full bg-white rounded-xl mt-16">
      <Image src={exlibris} alt="exlibris" width={400} />
    </div>
  </Container>
</Layout>
