---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Headline from "../../components/Headline.astro";
import ButtonA from "../../components/ui/ButtonA.astro";
import { Headlines } from "../../consts";
---

<Layout title="Belial - Portfolio Design">
  <Container>
    <Headline Heading={Headlines[1].heading} Subtitle={Headlines[1].subtitle} />
    <div class="flex gap-3 items-center justify-left w-full">
      <a href="/portfolio/">
        <ButtonA size="sm" classes="default px-4">Projects</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">Design</ButtonA>
      <a href="/portfolio/art/">
        <ButtonA size="sm" classes="default px-4">Art</ButtonA>
      </a>
      <a href="/portfolio/3D/">
        <ButtonA size="sm" classes="default px-4">3D</ButtonA>
      </a>
    </div>
    <div
      id="outputDriveDesign"
      class="flex flex-row justify-center items-center w-full bg-white rounded-xl mt-16 overflow-hidden"
    >
    </div><div class="grid place-content-center py-24">
      <span class="text-red-600 H3">WIP</span>
    </div>
  </Container>
</Layout>

<script>
  var outputDriveDesign = document.querySelector(
    "#outputDriveDesign"
  ) as HTMLDivElement;

  function extractImageId(link) {
    var pattern = /\/d\/(.*?)\/view/;
    var match = link.match(pattern);
    if (match) {
      return match[1];
    } else {
      return null;
    }
  }

  function constructNewLink(imageId) {
    return `https://drive.google.com/uc?export=view&id=${imageId}`;
  }

  var links = [
    "https://drive.google.com/file/d/1qcVjzP9JIvXBisDNvD-8NRKD_hKXMiqI/view?usp=sharing",
    "https://drive.google.com/file/d/1P_AKQUmQsIr9AWRrpqInhWikxnVD5jG5/view?usp=sharing",
    "https://drive.google.com/file/d/1ywlxDTxxpAQXOI51fvAx8jDwlxYtTl_H/view?usp=sharing",
  ];

  var convertedLinks = links.map(function (link) {
    var imageId = extractImageId(link);
    return constructNewLink(imageId);
  });
  convertedLinks.forEach(function (convertedLink) {
    var img = document.createElement("img");
    img.src = convertedLink;
    img.alt = "Image";
    img.style.width = "100%";
    outputDriveDesign.appendChild(img);
  });
</script>
