---
import { Button } from "../../components/ui/button.tsx";
import Separator from "../../components/ui/Separator.astro";
---

<div class="flex flex-col gap-6 pt-24">
  <Separator data-type="horizontal" />
  <div class="flex justify-between md:justify-between h-11 gap-3 flex-wrap">
    <Button variant="outline" size="lg">
      <span class="material-icons rotate-180">arrow_forward</span>
      <span class="hidden md:block">Previous</span>
    </Button>
    <Separator data-type="vertical" />
    <a href="/portfolio/">
      <Button variant="default" className="w-full" size="lg">
        View more projects
      </Button>
    </a>
    <Separator data-type="vertical" />
    <Button variant="outline" size="lg">
      <span class="hidden md:block">Next</span>
      <span class="material-icons">arrow_forward</span>
    </Button>
  </div>
</div>
